<div class='filter'>
	<span>Фильтр:</span>
	<ul id='carBrandsList'>

	</ul>
</div>

<div id='carList'></div>
<div id='carListNone'></div>

<script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>

<script src='script/index.js'></script>