<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />

		<title>Автосмак</title>
		<link rel='stylesheet' type='text/css' href='stylesheets/style.css' />
		<link
			rel='stylesheet'
			href='https://unpkg.com/swiper/swiper-bundle.min.css'
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	</head>
	<body>
		<div class='root'>
			{{> header}}
			<main>
				{{{body}}}
			</main>
		</div>
	</body>
</html>