<header>
	<div class='logo'>
		<h1><a href='/'>Продай и купи машину легко!!!</a></h1>
	</div>
	<div class='user-actions'>
		<div class='profile'>
			<a href='/addCar'>Разместить объявление </a>
		</div>
		<div class='profile'>
			<a href='/profile'>Личный кабинет</a>
		</div>
	</div>
</header>